<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="center"><img src="{{ url_for('static', filename='imagens/LOGOLMG.jpg') }}" alt="Logo"></div>
  <form method="POST" action="/enviar">
    <input name="nome" placeholder="Nome" required>
    <input name="matricula" placeholder="Matrícula" required>
    <input name="rota" placeholder="Rota" required>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
